#navbar{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: #04c35c;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

#middle {
    text-align: center;
    padding-top: 11px;
}
#navbar li{
    width: 100px;
    text-align: center;
    position: relative;
}
#navbar a{
    text-decoration: none;
    color: #FFF;
    display: block;
    height: 50px;
    line-height: 50px;
}
#navbar li:hover{
    background-color: red;
}
#navbar ul{
    position:absolute;
    display: none;
    top:50px;
    background-color: #04c35c;
    text-decoration: none;
}
#navbar, #navbar ul{
    list-style:none;
    padding: 0;
    margin: 0;
}
#navbar li:hover > ul{
    display: block;
}